<HTML xmlns:th="http://www.thymeleaf.org">
<HEAD>
    <TITLE>Spring Boot Demo</TITLE>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">

    <style>
div {
  margin: 25px 50px 75px 100px;
  background-color: #e6ffff;
}

.button {
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  background-color: #008CBA;
}

hr.hr1 {
  border: 1px solid grey;
}














    </style>
</HEAD>

<BODY BGCOLOR="#e6ffff">
<CENTER><a href="https://spring.io/projects/spring-boot"><img src="\images\spring-logo.svg" alt="Spring Boot tutorial" style="width:130px;height:52px;"></a></CENTER>
<HR class="hr1">

<div>
    <CENTER>
        <button class="button" onclick="location.href='/'" type="button">Home</button>
    </CENTER>
    <H1>Spring Boot Demo with MVC</H1>

    <P><b>Person Details:</b>
    <ul>
        <p th:text="'Id: ' + ${id}"/>
        <p th:text="'Title: ' + ${title}"/>
        <p th:text="'Gender: ' + ${gender}"/>
        <p th:text="'First Name: ' + ${firstName}"/>
        <p th:text="'Last Name: ' + ${lastName}"/>
    </ul>

    <P><b>Address:</b>
    <ul>
        <p th:text="'UPRN: ' + ${uprn}"/>
        <p th:text="'Property Number: ' + ${propertyNumber}"/>
        <p th:text="'Thoroughfare: ' + ${thoroughfare}"/>
        <p th:text="'City/Town: ' + ${city}"/>
        <p th:text="'Postcode: ' + ${postcode}"/>
    </ul>

    <P><b>Contacts:</b>
    <ul>
        <p th:text="'Home: ' + ${homeTel}"/>
        <p th:text="'Mobile: ' + ${mobileTel}"/>
        <p th:text="'Work: ' + ${workTel}"/>
    </ul>
</div>
<footer class="w3-container w3-teal w3-center w3-margin-top">
    <p><a href="https://github.com/803183993/RDSAndS3WithSpringBootDemo" target="_blank">Download project from GitHub</a></p>
    <i class="fa fa-facebook-official w3-hover-opacity"></i>
    <i class="fa fa-instagram w3-hover-opacity"></i>
    <i class="fa fa-snapchat w3-hover-opacity"></i>
    <i class="fa fa-pinterest-p w3-hover-opacity"></i>
    <i class="fa fa-twitter w3-hover-opacity"></i>
    <i class="fa fa-linkedin w3-hover-opacity"></i>
    <p>&#169;Amdad Choudhury</p>
</footer>

</BODY>

</HTML>